
%p
  Please stop the pan servo...

%p
  = button_to_remote 'Less', :url => {:action => 'calibrate_pan_speed', :offset => -1 , :method => :post }
  = button_to_remote 'More', :url => {:action => 'calibrate_pan_speed', :offset => 1, :method => :post }

%p
  = link_to 'Next', :action => 'calibrate_pan_clockwise'
  

// = periodically_call_remote :url => 'servo/index', :frequency => 1.0, :method => :get
