%h1 Capture
 
#preview
  - if @preview && @preview.thumbnail
    = render :partial => 'thumbnail', :locals => {:preview => @preview}
 
%p
  = button_to_remote 'Capture', :url => {:action => :capture }
%p
  = link_to 'Back', :back

= periodically_call_remote :url => 'camera/update', :frequency => 2.0, :method => :get
